
<div style="width: 50%; height: 600px; background-color:burlywood; padding:10px; margin:auto;">
    <h1 style="text-align:center; color:white;">Welcome to My Playlist!</h1>
    <div class="slika" style="height:400px; width:50%; background-color:white; padding:10px; margin:auto;">
        <img src="https://www.loc.gov/static/images/original-format/playlists.png" width="100%;" />
        <img src="https://i.redd.it/xmgbl977dwd11.jpg" width="100%;" />
    </div>

    <div class="text" style="margin:auto; padding:10px; text-align:center;">
        <a asp-controller="MyPlaylist" asp-action="Index" style="color: white;">Odaberi kategoriju</a>
    </div>
</div>